.box{
    display: flex;
    border: 2px solid rebeccapurple;
    height: auto;
    width: auto;
    margin: 5px;
    background-color: powderblue;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-evenly;
    align-items: center;
    align-items: flex-start;

    

}
.box1{
    height: 150px;
    width:200px ;
    border: 1px dotted blue;
    background-color: aqua;
}

.box2{
     height: 150px;
    width:200px ;
    border: 1px dotted red;
    background-color: palevioletred;
    
}

.box3{
     height: 150px;
    width:200px ;
    border: 1px dotted green;
    background-color: yellowgreen;
    
}

.box4{
     height: 150px;
    width:200px ;
    border: 1px dotted yellow;
    background-color: peru;
    
}

.box5{
     height: 150px;
    width:200px ;
    border: 1px dotted brown;
    background-color:red;
}

.box6{
     height: 150px;
    width:200px ;
    border: 1px dotted yellow;
    background-color:green;
}

.box7{
     height: 150px;
    width:200px ;
    border: 1px dotted rebeccapurple;
    background-color: peru;
}

.box8{
     height: 150px;
    width:200px ;
    border: 1px dotted green;
    background-color: goldenrod;
}
.box9{
     height: 150px;
    width:200px ;
    border: 1px dotted coral;
    background-color: goldenrod;
}
.box10{
     height: 150px;
    width:200px ;
    border: 1px dotted rgb(174, 21, 164);
    background-color: goldenrod;


}
div ~p{
text-align: center;
font-size: xx-large;
font-style: italic;
color: black;
}