.box{
    display: flex;
    border: 2px solid rebeccapurple;
    height: 800px;
    width: 850px;
    margin: 50px;
    background-color: powderblue;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    align-items: last baseline;

    

}
.box1{
    height: 150px;
    width:200px ;
    border: 1px dotted blue;
    background-color: aqua;
}

.box2{
     height: 150px;
    width:200px ;
    border: 1px dotted red;
    background-color: palevioletred;
    
}

.box3{
     height: 150px;
    width:200px ;
    border: 1px dotted green;
    background-color: yellowgreen;
    order: 1;
}

.box4{
     height: 150px;
    width:200px ;
    border: 1px dotted yellow;
    background-color: peru;
    order: 2;
}

/* .box5{
     height: 150px;
    width:200px ;
    border: 1px dotted brown;
    background-color:red;
}

.box6{
     height: 150px;
    width:200px ;
    border: 1px dotted yellow;
    background-color:green;
}

.box7{
     height: 150px;
    width:200px ;
    border: 1px dotted rebeccapurple;
    background-color: peru;
}

.box8{
     height: 150px;
    width:200px ;
    border: 1px dotted green;
    background-color: goldenrod;
} */