h2{
    background-color: aquamarine;
}
p{
    background-color: aqua;
}
#p{
    background-color: aquamarine;


}
.paragraph{
    background-color: red;
    color: antiquewhite;
}
/* any tag selector */
div p{
    background-color: blue;
    color: white;
} 
 /* child selector */
 div>p{
    background-color: aqua;
    color: aliceblue;
 }
 /*first adgesent sibling selector */

  div+p{
    background-color:greenyellow;
    color: aliceblue;
 }
 
 /* all adgesent sibling selector */
 div~p{
    background-color: brown;
    color: aliceblue;
 }
 p:hover{
    font-size: xx-large;
    background-color: aquamarine;
    color: blueviolet;

 }
 p::before{
    content: "hi welcome to ABES";
 }
 P::after{
    "WE COMPLETED FSD"
 }
 p::selection{
    background-color: blue;
 }